.env.local
node_modules/
.DS_Store
.vscode/
dist/
.vercel
.env*.local
ARCH_DOCS/
./TROUBLESHOOTING_LOG.md
# Next.js build outputs
.next/
.next/*
out/


# Build artifacts
*.tsbuildinfo

# Database & Migrations
migrations/
db_validation_report.json

# Scratchpad & Logs
V5_Issues.txt
finalization-prompts

# Large/Test Media
/*.mp4
*.uvz
image (1).jpg
